.app-error {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
}

.app-error pre {
    font-size: 16px;
}

.app-error button {
    border: none;
    border-radius: 3px;padding: 5px 10px;
    color: #fff;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
    transition: all .3s;
    cursor: pointer;
    background: rgb(112, 112, 237);
}

.app-error button:hover {
    transform: translateY(3px);
    box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.35);
}
